Package: carina
Version: 1.0.0
Architecture: amd64
Maintainer: CARINA Team
Description: CARINA Core System
 Cognitive Artificial Route and Intersection Network Agent (CARINA)
 is an advanced AI-based traffic management and simulation system.
Depends: libc6, libgl1-mesa-glx, libglib2.0-0, libxkbcommon0, libfontconfig1, libxrender1, libxext6, libx11-6, libdbus-1-3, libegl1, libxcb-cursor0, libxcb-icccm4, libxcb-keysyms1, libxcb-shape0
